@charset "utf-8";
/* CSS Document */
html,body {
	background: #dfdedc;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#mainWrapper {
	box-shadow: 0px 0px 10px #888888;
	background-color: #F8F8F8;
	height: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#miniMenuBar {
	background-color: #333333;
	height: 1%;
	width: 100%;
}

#mainWrapper #header {
	height: 13%;
	width: 100%;
	background-color: #60bdc4;
	background-size: 100%;
	background-image: url(../images/EBI_HOMEPAGE_Banner.jpg);
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}

#mainWrapper #dataContainer table tr td #apps {
	height: 90%;
	background-color: #ededed;
	border: medium solid #dddddd;
	border-radius: 5px;
	font-family: 'Marcellus', serif;
}

#mainWrapper #dataContainer table tr td #apps:hover {
	cursor: pointer;
}

#apps #subHeading {
	margin-top: 10px;
	color: #666;
}

#mainWrapper #dataContainer {
	width: 100%;
	font-family: 'Marcellus', serif;
	background-color: #E9E9E9;
	box-shadow: 0px 0px 10px #888888;
}

#subHeading .app {
	font-family: 'Marcellus', serif;
	font-size: 17px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #666;
}

#subHeading .app:hover {
	color: #000;
	cursor: pointer;
}

#mainWrapper #footer {
	height: 5%;
	width: 100%;
	background-color: #333333;
}

#mainWrapper #header #globalTitle {
	font-family: 'Marcellus', serif;
	text-shadow: 1px 1px #333;
	font-size: 35px;
	color: #FFF;
	padding-left: 10px;
	padding-top: 6px;
}

#mainWrapper #header #localTitle {
	font-family: 'Marcellus', serif;
	text-shadow: 1px 1px #333;
	font-size: px;
	color: #FFF;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.5);
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 5px;
	margin-top: 5px;
}

#mainWrapper #header #localTitle p {
	margin: 0px;
	padding: 0px;
}

#editB {
	display: block;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	padding: 0;
	border: none;
	cursor: pointer;
	cursor: hand;
	background-image: url(../images/edit.png);
	background-color: #DDD;
}

#descriptorTable {
	font-size: 14px;
	text-align: left;
	border-collapse: collapse;
	overflow: scroll;
}

#descriptorTable th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #CCC;
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #000;
}

#descriptorTable td {
	padding: 8px;
	background: #EEE;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #000;
	border-top: 1px solid transparent;
}

#descriptorTable tr:hover td {
	background: #d0dafd;
	color: #339;
}

#nwchemOutputParserPanel table tr td form textarea {
	resize: none;
}

#mainWrapper #dataContainer #MenuBar {
	background-color: #333333;
	height: 6%;
	width: 100%;
}

#mainContainer table tr td #descTableContainer {
	background: #0C6;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

#MenuBar a:link,#MenuBar a:visited {
	display: block;
	width: 200px;
	color: #FFFFFF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

#MenuBar a:hover,#MenuBar a:active {
	border-top: #60bdc4 2px solid;
}
